* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

.title {
  text-align: center;
}

.section {
  padding: 12px 6%;
}

.result {
  border: 2px solid black;
  min-height: 35px;
  padding-top: 6px;
}

.results-grid {
  display: grid;
  grid-template-columns: 120px auto;
}

input,
button {
  height: 21px;
  width: 70px;
}
